{% load static %} <!--Agregado para poder indicarle qeu es archivo statico-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend</title>
    <link type="text/css" rel="stylesheet" href="{% static 'index.css' %}"> <!--Modificación para que pudera encontrar el archivo css-->
</head>
<body>
    <!--Frontend-->
    <h1>PROYECTO 3 IPC2</h1>
    <!--<div id="titulo">
    <h2>Hola mundo, Sí funciona el frontend</h2>
    </div>-->
    <form id="formulario" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document" id="document"></input>
        <input type="submit" value="Enviar Archivo"></input>
    </form>
        <div id="Entrada">
            <h2>Archivo de entrada</h2>
            <textarea cols="70" rows="30" wrap="hard" readonly="no">{{ data }}</textarea>
        </div>
        
        <div id="Salida">
            <h2>Archivo de salida</h2> 
            <textarea cols="70" rows="30" wrap="hard" readonly="no">{{ archivo }}</textarea>
        </div>
    

</body>
</html>